/***************************
 * styling form's dimensions
 ***************************/
#form-signup-container {
     display: flex;
     margin: 40px auto auto auto;
     padding: 30px;
     width:90%;
     border-radius: 10px;
     background-color: white;
}
/* size of form will change based on window size */
@media screen and (min-width: 600px) {
    #form-signup-container {
        width:50%;
    }
}
@media screen and (min-width: 900px) {
    #form-signup-container {
        width:40%;
    }
}
@media screen and (min-width: 1200px) {
    #form-signup-container {
        width:30%;
    }
}
@media screen and (min-width: 1500px) {
    #form-signup-container {
        width:20%;
    }
}
.signupForm {
    width:90%;
    margin: 0 auto;
}
#signup-btn {
    position: relative;
    margin-bottom: 0;
    height: 50px;
    font-size: 24px;
    font-color:white;
    transition: 0.3s;
}
#signup-btn:hover {
    border-color:#3163af;
    background-color: white;
    color:#3163af;
}
