/* we expand navbar height*/
.navbar {
    position: relative; /*so that container-fluid can have same size*/
    min-height: 100px;
    margin-bottom: 0 !important;
}
.container-fluid {
    min-height: 100px;
}
.navbar-header {
    min-height: 100px;
}
/* vertically center the brand title*/
#brand-title {
    font-size: 32px;
    font-weight: bolder;
    line-height: 64px;
    white-space: nowrap;
    color: #08101c;
}
.navbar-collapse ul li {
    min-height: 100px;
}
/* vertically center the navigation items*/
.navitem a{
    font-size: 24px;
    font-weight: 300;
    top: 24px;
    line-height: 48px;
    transition: 0.3s;
}
/* on mouse over, darken the text*/
.navitem a:hover {
    font-weight: 400;
    transition: 0.3s;
}
/*by default, the anchor element's background is gray on select, remove it*/
.navbar-collapse ul li.navitem.active a{
    background: none !important;
}
/*add bottom border when navigation item is clicked*/
.navbar-collapse ul li.navitem.active{
    border-bottom: 5px solid #08101c;
}
