/* we expand navbar height*/
.navbar {
    position: relative; /*so that container-fluid can have same size*/
    min-height: 100px;
    margin-bottom: 0 !important;
}
.container-fluid {
    min-height: 100px;
}
.navbar-header {
    min-height: 100px;
}
/* vertically center the brand title*/
#brand-title {
    font-size: 32px;
    line-height: 64px;
    white-space: nowrap;
}
.navbar-collapse ul li {
    min-height: 100px;
}
/* vertically center the navigation items*/
.navitem a{
    font-size: 24px;
    top: 24px;
    white-space: nowrap;
}
