#homepage-container {
    display:flex;
    flex-wrap: wrap;
    overflow: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
}
#homepage-content {
    position: absolute;
    top: 100px; /* equal to height of navigation bar*/
    bottom: 0;
    min-width: 100%;
    margin: 0;
    background-image: url("./background-med.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* default intro container style */
#intro {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
}
#intro h1 {
    width:100%;
    color:#08101c;
    font-size:48px;
    font-weight: bold;
}

#intro p {
    width: 100%;
    font-size:24px;
    font-weight: bold;
    color:#11111
}

#homepage-signup-btn {
    width:90%;
    height: 60px;
    overflow: hidden;
    margin: 40px auto 40px auto;
    transition: 0.3s;
}
#homepage-signup-btn  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
/* on smaller devices, text font will be smaller*/
@media screen and (max-width: 600px) {
    #homepage-content {
        background: url('./background-sm.jpeg');
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
    #intro h1 {
        font-size:30px;
    }
    #intro p {
        font-size:18px;
    }
    #homepage-signup-btn  a {
        font-size: 18px;
    }
}
/* update intro text size based on window size*/
@media screen and (min-width: 1000px) {
    #intro {
        width: 50%;
    }
}
@media screen and (min-width: 1400px) {
    #intro {
        width: 40%;
    }
}
@media screen and (min-width: 1800px) {
    #intro {
        width: 30%;
    }
}
/*footer styling*/
footer {
    position: absolute;
    bottom: 0;
    margin:0;
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: white;
}
/* footer text */
footer span {
    font-weight: bold;
    font-size: 1em;
    color: #586062;
}
/* heart icon */
.fa-heart {
    color: #ff214c;
    margin: 10px;
}
