#sidebar-title {
    color:white;
    font-size: 30px;
}
.linkItems {
   color:white;
   padding: 10px;
   font-size:18px;
   display:block;
   transition: 0.3s;
}
.linkItems:link {
   text-decoration: none;
   text-decoration-line: none;
}
.linkItems:hover {
   color:#8131b7;
}
